* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 255, 250);
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #0337e0;
    height: 8vh;
}

main {
    background: url("") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #0337e0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.pagina {
    margin-top: 60px;
    justify-content: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
    margin-left: 40px;
    text-transform: capitalize;


}

.btn {
    background-color: black;
    border-radius: 10%;
    color: #fff;
    height: 40px;
    width: 150px;
    font-size: 17px;
    margin-left: 45px;

}

h1 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
    text-emphasis: none;
    text-transform: uppercase;
    font-size: 40px;
}

.corrida {
    margin-top: -264px;
    justify-items: center;
    margin-right: 25%;
    text-align: center;
}

.chute {
    margin-top: -264px;
    justify-items: center;
    margin-left: 26%;
    text-align: center;

}

.inverno {
    margin-top: -264px;
    justify-items: center;
    margin-left: 75%;
    text-align: center;
}

.novidade {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    margin-top: 100px;
    margin-left: 40px;
}

.asics {
    margin-top: -264px;
    margin-left: 24%;
}

.adidas {
    margin-top: -264px;
    margin-left: 48%;
}

.puma {
    margin-top: -263px;
    margin-left: 75%;
}

.puma_btn {
    margin-top: 20px;
}
.slider-pricipal{
align-items: center;

}
.palavras ul li{
    list-style-type: none;
}
.palavras{
    margin-left: 10px;
    
}
.buscados{
    text-align: center;
    margin-top: 20px;
}
.hr{
	height:2px;
	margin:20px 0 20px 0;
	background:rgba(0, 0, 0, 0.2);
}
.col-100{
    margin-top: 50px;
    margin-left: 42%;
}
.palavras_1{
margin-left: 10%;
text-transform: capitalize;
color: black;
}
.palavras_2{
    margin-top: -90px;
   text-align: center;
   text-transform: capitalize;
}
.palavras_3{
    margin-top: -90px;
   text-align: right;
   text-transform: capitalize;
   margin-right: 10%;
}

